{%- comment -%}
  Custom Size Filter (In-stock only)
  Dawn 15.4.0
{%- endcomment -%}

{%- assign available_sizes = '' -%}

{%- for product in collection.products -%}
  {%- for variant in product.variants -%}
    {%- if variant.available -%}
      {%- assign size_option = variant.options_by_name['Size'] | default: variant.option2 -%}
      {%- unless available_sizes contains size_option -%}
        {%- assign available_sizes = available_sizes | append: size_option | append: ',' -%}
      {%- endunless -%}
    {%- endif -%}
  {%- endfor -%}
{%- endfor -%}

{%- assign available_sizes_array = available_sizes | split: ',' | uniq -%}

{% if available_sizes_array.size > 0 %}
  <div class="collection-filter collection-filter--size">
    <h4 class="collection-filter__title">Size</h4>
    <ul class="collection-filter__list">
      {%- for size in available_sizes_array -%}
        {%- if size != blank -%}
          <li>
            <a href="{{ collection.url }}?filter.p.option.size={{ size | url_encode }}" class="collection-filter__link">
              {{ size }}
            </a>
          </li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
  </div>
{% endif %}
