
  <!-- OUTER TABS -->
  <div id="mens--womens-tab-container" class="tab-container">
    <div class="tab-buttons">
      <div class="tab-button active" data-tab="mens">Mens</div>
      <div class="tab-button" data-tab="womens">Womens</div>
      <div class="tab-button" data-tab="kids">Kids</div>
    </div>

    <div class="note">
  <p><strong>Please note:</strong> 
  Sizes listed on this website are all sized in US sizes. Conversions as per chart below.</p>
  </div>

    <div class="tab-contents">
      <!-- MENS -->
      <div class="tab-content active" id="mens">

        <!-- INNER TABS for Mens -->
        <div class="tab-container">
          <div class="tab-buttons">
            <div class="tab-button active" data-tab="mens-shoes">Boots/Shoes</div>
            <div class="tab-button" data-tab="mens-sandals">Sandals</div>
            <div class="tab-button" data-tab="mens-clothing">Clothing</div>
            <div class="tab-button" data-tab="mens-bottoms">Pants/Bottoms</div>
            <div class="tab-button" data-tab="mens-socks">Socks</div>
          </div>
          <div class="tab-contents">
            <div class="tab-content active" id="mens-shoes">
              <h2>Mens Boots &amp; Shoes</h2>
            
              <div class="table-container">
                  <table class="table doubled-col">
                    <tbody>
                      <tr class="us">
                              <td align="left" scope="col">US</td>
                              <td align="center" valign="top" scope="col">7</td>
                              <td align="center" valign="top" scope="col">7.5</td>
                              <td align="center" valign="top" scope="col">8</td>
                              <td align="center" valign="top" scope="col">8.5</td>
                              <td align="center" valign="top" scope="col">9</td>
                              <td align="center" valign="top" scope="col">9.5</td>
                              <td align="center" valign="top" scope="col">10</td>
                              <td align="center" valign="top" scope="col">10.5</td>
                              <td align="center" valign="top" scope="col">11</td>
                              <td align="center" valign="top" scope="col">11.5</td>
                              <td align="center" valign="top" scope="col">12</td>
                              <td align="center" valign="top" scope="col">12.5</td>
                              <td align="center" valign="top" scope="col">13</td>
                              <td align="center" valign="top" scope="col">14</td>
                              <td align="center" valign="top" scope="col">15</td>
                          </tr>
                          <tr class="euro">
                              <td align="left" scope="row">Euro</td>
                              <td align="center" valign="top">40</td>
                              <td align="center" valign="top">41</td>
                              <td align="center" valign="top">41.5</td>
                              <td align="center" valign="top">42</td>
                              <td align="center" valign="top">43</td>
                              <td align="center" valign="top">43.5</td>
                              <td align="center" valign="top">44</td>
                              <td align="center" valign="top">44.5</td>
                              <td align="center" valign="top">45</td>
                              <td align="center" valign="top">46</td>
                              <td align="center" valign="top">46.5</td>
                              <td align="center" valign="top">47</td>
                              <td align="center" valign="top">48</td>
                              <td align="center" valign="top">49</td>
                              <td align="center" valign="top">50</td>
                          </tr>
                          <tr class="uk">
                              <td align="left" scope="row">UK</td>
                              <td align="center" valign="top">6.5</td>
                              <td align="center" valign="top">7</td>
                              <td align="center" valign="top">7.5</td>
                              <td align="center" valign="top">8</td>
                              <td align="center" valign="top">8.5</td>
                              <td align="center" valign="top">9</td>
                              <td align="center" valign="top">9.5</td>
                              <td align="center" valign="top">10</td>
                              <td align="center" valign="top">10.5</td>
                              <td align="center" valign="top">11</td>
                              <td align="center" valign="top">11.5</td>
                              <td align="center" valign="top">12</td>
                              <td align="center" valign="top">12.5</td>
                              <td align="center" valign="top">13</td>
                              <td align="center" valign="top">14</td>
                          </tr>
                          <tr class="cm">
                              <td align="left" scope="row">CM</td>
                              <td align="center" valign="top">25</td>
                              <td align="center" valign="top">25.5</td>
                              <td align="center" valign="top">26</td>
                              <td align="center" valign="top">26.5</td>
                              <td align="center" valign="top">27</td>
                              <td align="center" valign="top">27.5</td>
                              <td align="center" valign="top">28</td>
                              <td align="center" valign="top">28.5</td>
                              <td align="center" valign="top">29</td>
                              <td align="center" valign="top">29.5</td>
                              <td align="center" valign="top">30</td>
                              <td align="center" valign="top">30.5</td>
                              <td align="center" valign="top">31</td>
                              <td align="center" valign="top">32</td>
                              <td align="center" valign="top">33</td>
                          </tr>
                    </tbody>
                  </table>
              </div>
            </div>

            <div class="tab-content" id="mens-sandals">
              <h2>Mens Sandals</h2>
            
              <div class="table-container">
                  <table class="table doubled-col">
                    <tbody>
                          <tr class="us">
                              <td align="left" scope="col">US</td>
                              <td align="center" valign="top" scope="col">7</td>
                              <td align="center" valign="top" scope="col">8</td>
                              <td align="center" valign="top" scope="col">9</td>
                              <td align="center" valign="top" scope="col">10</td>
                              <td align="center" valign="top" scope="col">11</td>
                              <td align="center" valign="top" scope="col">12</td>
                              <td align="center" valign="top" scope="col">13</td>
                              <td align="center" valign="top" scope="col">14</td>
                              <td align="center" valign="top" scope="col">15</td>
                          </tr>
                          <tr class="euro">
                              <td align="left" scope="row">Euro</td>
                              <td align="center" valign="top">40</td>
                              <td align="center" valign="top">41</td>
                              <td align="center" valign="top">42</td>
                              <td align="center" valign="top">43</td>
                              <td align="center" valign="top">44</td>
                              <td align="center" valign="top">45</td>
                              <td align="center" valign="top">46</td>
                              <td align="center" valign="top">47</td>
                              <td align="center" valign="top">48</td>
                          </tr>
                          <tr class="uk">
                              <td align="left" scope="row">UK</td>
                              <td align="center" valign="top">6</td>
                              <td align="center" valign="top">7</td>
                              <td align="center" valign="top">8</td>
                              <td align="center" valign="top">9</td>
                              <td align="center" valign="top">10</td>
                              <td align="center" valign="top">11</td>
                              <td align="center" valign="top">12</td>
                              <td align="center" valign="top">13</td>
                              <td align="center" valign="top">14</td>
                          </tr>
                              <tr class="cm">
                              <td align="left" scope="row">CM</td>
                              <td align="center" valign="top">25</td>
                              <td align="center" valign="top">26</td>
                              <td align="center" valign="top">27</td>
                              <td align="center" valign="top">28</td>
                              <td align="center" valign="top">29</td>
                              <td align="center" valign="top">30</td>
                              <td align="center" valign="top">31</td>
                              <td align="center" valign="top">32</td>
                              <td align="center" valign="top">33</td>
                          </tr>
                    </tbody>
                  </table>
              </div>
            </div>

            <div id="mens-clothing" class="tab-content">
              <h2>Mens Clothing</h2>
              <div class="table-container">
                  <table class="table doubled-col">
                    <thead>
                      <tr>
                          <td> </td>
                        <th colspan="2">S</th>
                        <th colspan="2">M</th>
                        <th colspan="2">L</th>
                        <th colspan="2">XL</th>
                        <th colspan="2">XXL</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td> </td>
                        <td>cm</td>
                        <td>inches</td>
                        <td>cm</td>
                        <td>inches</td>
                        <td>cm</td>
                        <td>inches</td>
                        <td>cm</td>
                        <td>inches</td>
                        <td>cm</td>
                        <td>inches</td>
                      </tr>
                          <tr>
                              <td align="left" scope="row">Neck</td>
                              <td align="center" valign="top">37-38</td>
                              <td align="center" valign="top">14.5-15</td>
                              <td align="center" valign="top">39-40</td>
                              <td align="center" valign="top">15.5-16</td>
                              <td align="center" valign="top">42-43</td>
                              <td align="center" valign="top">16.5-17</td>
                              <td align="center" valign="top">45-46</td>
                              <td align="center" valign="top">17.5-18</td>
                              <td align="center" valign="top">46-47</td>
                              <td align="center" valign="top">18-18.5</td>
                          </tr>
                              <tr class="tr">
                              <td align="left" scope="row">Chest</td>
                              <td align="center" valign="top">91-96</td>
                              <td align="center" valign="top">36-38</td>
                              <td align="center" valign="top">99-104</td>
                              <td align="center" valign="top">39-41</td>
                              <td align="center" valign="top">107-112</td>
                              <td align="center" valign="top">42-44</td>
                              <td align="center" valign="top">114-119</td>
                              <td align="center" valign="top">45-47</td>
                              <td align="center" valign="top">122-130</td>
                              <td align="center" valign="top">48-51</td>
                          </tr>
                              <tr class="tr">
                              <td align="left" scope="row">Sleeve</td>
                              <td align="center" valign="top">84-85</td>
                              <td align="center" valign="top">33-33.5</td>
                              <td align="center" valign="top">86-88</td>
                              <td align="center" valign="top">34-34.5</td>
                              <td align="center" valign="top">89-90</td>
                              <td align="center" valign="top">35-35.5</td>
                              <td align="center" valign="top">91-92</td>
                              <td align="center" valign="top">36-36.5</td>
                              <td align="center" valign="top">94-95</td>
                              <td align="center" valign="top">37-37.5</td>
                          </tr>
                              <tr class="tr">
                              <td align="left" scope="row">Waist</td>
                              <td align="center" valign="top">71-74</td>
                              <td align="center" valign="top">28-29</td>
                              <td align="center" valign="top">76-81</td>
                              <td align="center" valign="top">30-32</td>
                              <td align="center" valign="top">86-91</td>
                              <td align="center" valign="top">34-36</td>
                              <td align="center" valign="top">96-102</td>
                              <td align="center" valign="top">38-40</td>
                              <td align="center" valign="top">104-107</td>
                              <td align="center" valign="top">41-42</td>
                          </tr>
                              <tr class="tr">
                              <td align="left" scope="row">Inside leg</td>
                              <td align="center" valign="top">79</td>
                              <td align="center" valign="top">31</td>
                              <td align="center" valign="top">81</td>
                              <td align="center" valign="top">32</td>
                              <td align="center" valign="top">84</td>
                              <td align="center" valign="top">33</td>
                              <td align="center" valign="top">86</td>
                              <td align="center" valign="top">34</td>
                              <td align="center" valign="top">86</td>
                              <td align="center" valign="top">34</td>
                          </tr>
                    </tbody>
                  </table>
              </div>
            </div>

            <div id="mens-bottoms" class="tab-content">
              <h2>Mens Bottoms</h2>
              
              <div class="table-container">
                  <table class="table doubled-col">
                    <tbody>
                        <tr>
                        <td> </td>
                        <td>cm</td>
                        <td>inches</td>
                        <td>cm</td>
                        <td>inches</td>
                        <td>cm</td>
                        <td>inches</td>
                        <td>cm</td>
                        <td>inches</td>
                        <td>cm</td>
                        <td>inches</td>
                        <td>cm</td>
                        <td>inches</td>
                        <td>cm</td>
                        <td>inches</td>
                      </tr>
                          <tr class="tr">
                              <td align="left" scope="row">Waist</td>
                              <td align="center" valign="top">71</td>
                              <td align="center" valign="top">28</td>
                              <td align="center" valign="top">76</td>
                              <td align="center" valign="top">30</td>
                              <td align="center" valign="top">81</td>
                              <td align="center" valign="top">32</td>
                              <td align="center" valign="top">86</td>
                              <td align="center" valign="top">34</td>
                              <td align="center" valign="top">91</td>
                              <td align="center" valign="top">36</td>
                              <td align="center" valign="top">96</td>
                              <td align="center" valign="top">38</td>
                              <td align="center" valign="top">102</td>
                              <td align="center" valign="top">40</td>
                          </tr>
                              <tr class="tr">
                              <td align="left" scope="row">Inseam (Short)</td>
                              <td align="center" valign="top">76</td>
                              <td align="center" valign="top">30</td>
                              <td align="center" valign="top">76</td>
                              <td align="center" valign="top">30</td>
                              <td align="center" valign="top">76</td>
                              <td align="center" valign="top">30</td>
                              <td align="center" valign="top">76</td>
                              <td align="center" valign="top">30</td>
                              <td align="center" valign="top">76</td>
                              <td align="center" valign="top">30</td>
                              <td align="center" valign="top">76</td>
                              <td align="center" valign="top">30</td>
                              <td align="center" valign="top">n/a</td>
                              <td align="center" valign="top">n/a</td>
                          </tr>
                          <tr class="tr">
                              <td align="left" scope="row">Inseam (Regular)</td>
                              <td align="center" valign="top">81</td>
                              <td align="center" valign="top">32</td>
                              <td align="center" valign="top">81</td>
                              <td align="center" valign="top">32</td>
                              <td align="center" valign="top">81</td>
                              <td align="center" valign="top">32</td>
                              <td align="center" valign="top">81</td>
                              <td align="center" valign="top">32</td>
                              <td align="center" valign="top">81</td>
                              <td align="center" valign="top">32</td>
                              <td align="center" valign="top">81</td>
                              <td align="center" valign="top">32</td>
                              <td align="center" valign="top">81</td>
                              <td align="center" valign="top">32</td>
                              </tr>
                          <tr class="tr">
                              <td align="left" scope="row">Inseam (Long)</td>
                              <td align="center" valign="top">n/a</td>
                              <td align="center" valign="top">n/a</td>
                              <td align="center" valign="top">86</td>
                              <td align="center" valign="top">34</td>
                              <td align="center" valign="top">86</td>
                              <td align="center" valign="top">34</td>
                              <td align="center" valign="top">86</td>
                              <td align="center" valign="top">34</td>
                              <td align="center" valign="top">86</td>
                              <td align="center" valign="top">34</td>
                              <td align="center" valign="top">86</td>
                              <td align="center" valign="top">34</td>
                              <td align="center" valign="top">86</td>
                              <td align="center" valign="top">34</td>
                          </tr>
                    </tbody>
                  </table>
              </div>
            </div>

            <div id="mens-socks" class="tab-content">
              <h2>Mens Socks</h2>
              
              <div class="table-container">
                  <table class="table doubled-col">
                      <thead>
                          <tr>
                              <td>Size</td>
                              <td>US</td>
                              <td>UK</td>
                              <td>EU</td>
                          </tr>
                      </thead>
                    <tbody>
                          <tr class="us">
                              <td align="left" scope="col">S/M fits shoe size</td>
                              <td align="center" valign="top" scope="col">5 - 8.5</td>
                              <td align="center" valign="top" scope="col">4 - 7.5</td>
                              <td align="center" valign="top" scope="col">35 - 39</td>
                          </tr>
                          <tr class="euro">
                              <td align="left" scope="row">M/L fits shoe size</td>
                              <td align="center" valign="top">9.5 - 12</td>
                              <td align="center" valign="top">9 - 11.5</td>
                              <td align="center" valign="top">40 - 45</td>
                          </tr>
                          <tr class="uk">
                              <td align="left" scope="row">L/XL fits shoe size</td>
                              <td align="center" valign="top">12.5 - 15</td>
                              <td align="center" valign="top">11.5 - 14</td>
                              <td align="center" valign="top">46 - 50</td>
                          </tr>
                    </tbody>
                  </table>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- WOMENS -->
      <div class="tab-content" id="womens">
        <!-- INNER TABS for Womens -->
        <div class="tab-container">
          <div class="tab-buttons">
            <div class="tab-button active" data-tab="womens-shoes">Shoes</div>
            <div class="tab-button" data-tab="womens-sandals">Sandals</div>
            <div class="tab-button" data-tab="womens-clothing">Clothing</div>
            <div class="tab-button" data-tab="womens-bottoms">Pants/Bottoms/Skirts</div>
            <div class="tab-button" data-tab="womens-socks">Socks</div>
          </div>
          <div class="tab-contents">
            <div class="tab-content active" id="womens-shoes">
              <h2>Womens Boots &amp; Shoes</h2>
            
              <div class="table-container">
                  <table class="table doubled-col">
                    <tbody>
                          <tr>
                              <td scope="col" align="left">US</td>
                              <td scope="col" valign="top" align="center">5</td>
                              <td scope="col" valign="top" align="center">5.5</td>
                              <td scope="col" valign="top" align="center">6</td>
                              <td scope="col" valign="top" align="center">6.5</td>
                              <td scope="col" valign="top" align="center">7</td>
                              <td scope="col" valign="top" align="center">7.5</td>
                              <td scope="col" valign="top" align="center">8</td>
                              <td scope="col" valign="top" align="center">8.5</td>
                              <td scope="col" valign="top" align="center">9</td>
                              <td scope="col" valign="top" align="center">9.5</td>
                              <td scope="col" valign="top" align="center">10</td>
                              <td scope="col" valign="top" align="center">10.5</td>
                              <td scope="col" valign="top" align="center">11</td>
                              <td scope="col" valign="top" align="center">11.5</td>
                          </tr>
                          <tr>
                              <td scope="row" align="left">Euro</td>
                              <td scope="col" valign="top" align="center">35</td>
                              <td scope="col" valign="top" align="center">35.5</td>
                              <td valign="top" align="center">36</td>
                              <td valign="top" align="center">37</td>
                              <td valign="top" align="center">37.5</td>
                              <td valign="top" align="center">38</td>
                              <td valign="top" align="center">38.5</td>
                              <td valign="top" align="center">39</td>
                              <td valign="top" align="center">40</td>
                              <td valign="top" align="center">40.5</td>
                              <td valign="top" align="center">41</td>
                              <td valign="top" align="center">42</td>
                              <td valign="top" align="center">42.5</td>
                              <td valign="top" align="center">43</td>
                          </tr>
                          <tr>
                              <td scope="row" align="left">UK</td>
                              <td scope="col" valign="top" align="center">2.5</td>
                              <td scope="col" valign="top" align="center">3</td>
                              <td valign="top" align="center">3.5</td>
                              <td valign="top" align="center">4</td>
                              <td valign="top" align="center">4.5</td>
                              <td valign="top" align="center">5</td>
                              <td valign="top" align="center">5.5</td>
                              <td valign="top" align="center">6</td>
                              <td valign="top" align="center">6.5</td>
                              <td valign="top" align="center">7</td>
                              <td valign="top" align="center">7.5</td>
                              <td valign="top" align="center">8</td>
                              <td valign="top" align="center">8.5</td>
                              <td valign="top" align="center">9</td>
                          </tr>
                              <tr>
                              <td scope="row" align="left">CM</td>
                              <td scope="col" valign="top" align="center">22</td>
                              <td scope="col" valign="top" align="center">22.5</td>
                              <td valign="top" align="center">23</td>
                              <td valign="top" align="center">23.5</td>
                              <td valign="top" align="center">24</td>
                              <td valign="top" align="center">24.5</td>
                              <td valign="top" align="center">25</td>
                              <td valign="top" align="center">25.5</td>
                              <td valign="top" align="center">26</td>
                              <td valign="top" align="center">26.5</td>
                              <td valign="top" align="center">27</td>
                              <td valign="top" align="center">27.5</td>
                              <td valign="top" align="center">28</td>
                              <td valign="top" align="center">28.5</td>
                          </tr>
                    </tbody>
                  </table>
              </div>
            </div>

            <div class="tab-content" id="womens-sandals">
              <h2>Womens Sandals</h2>
            
              <div class="table-container">
                  <table class="table doubled-col">
                    <tbody>
                          <tr>
                              <td scope="col" align="left">US</td>
                              <td scope="col" valign="top" align="center">5</td>
                              <td scope="col" valign="top" align="center">6</td>
                              <td scope="col" valign="top" align="center">7</td>
                              <td scope="col" valign="top" align="center">8</td>
                              <td scope="col" valign="top" align="center">9</td>
                              <td scope="col" valign="top" align="center">10</td>
                              <td scope="col" valign="top" align="center">11</td>
                          </tr>
                          <tr>
                              <td scope="row" align="left">Euro</td>
                              <td valign="top" align="center">36</td>
                              <td valign="top" align="center">37</td>
                              <td valign="top" align="center">38</td>
                              <td valign="top" align="center">39</td>
                              <td valign="top" align="center">40</td>
                              <td valign="top" align="center">41</td>
                              <td valign="top" align="center">42</td>
                          </tr>
                          <tr>
                              <td scope="row" align="left">UK</td>
                              <td valign="top" align="center">3</td>
                              <td valign="top" align="center">4</td>
                              <td valign="top" align="center">5</td>
                              <td valign="top" align="center">6</td>
                              <td valign="top" align="center">7</td>
                              <td valign="top" align="center">8</td>
                              <td valign="top" align="center">9</td>
                          </tr>
                          <tr>
                              <td scope="row" align="left">CM</td>
                              <td valign="top" align="center">22</td>
                              <td valign="top" align="center">23</td>
                              <td valign="top" align="center">24</td>
                              <td valign="top" align="center">25</td>
                              <td valign="top" align="center">26</td>
                              <td valign="top" align="center">27</td>
                              <td valign="top" align="center">28</td>
                          </tr>
                    </tbody>
                  </table>
              </div>
            </div>

            <div class="tab-content" id="womens-clothing">
              <h2>Womens Clothing</h2>
            
              <div class="table-container">
                  <table class="table doubled-col">
                    <thead>
                      <tr>
                          <td> </td>
                        <th colspan="2">S</th>
                        <th colspan="2">M</th>
                        <th colspan="2">L</th>
                        <th colspan="2">XL</th>
                        <th colspan="2">XXL</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row" align="left">US</td>
                              <td colspan="2" valign="top" align="center">2</td>
                              <td colspan="2" valign="top" align="center">4-6</td>
                              <td colspan="2" valign="top" align="center">8-10</td>
                              <td colspan="2" valign="top" align="center">12-14</td>
                              <td colspan="2" valign="top" align="center">16</td>
                        </tr>
                        <tr>
                            <td scope="row" align="left">UK</td>
                              <td colspan="2" valign="top" align="center">6</td>
                              <td colspan="2" valign="top" align="center">8-10</td>
                              <td colspan="2" valign="top" align="center">12-14</td>
                              <td colspan="2" valign="top" align="center">16-18</td>
                              <td colspan="2" valign="top" align="center">20</td>
                        </tr>
                      <tr>
                        <td> </td>
                        <td>cm</td>
                        <td>inches</td>
                        <td>cm</td>
                        <td>inches</td>
                        <td>cm</td>
                        <td>inches</td>
                        <td>cm</td>
                        <td>inches</td>
                        <td>cm</td>
                        <td>inches</td>
                      </tr>
                          <tr>
                              <td scope="row" align="left">Chest</td>
                              <td valign="top" align="center">81-84</td>
                              <td valign="top" align="center">32-33</td>
                              <td valign="top" align="center">86-89</td>
                              <td valign="top" align="center">34-35</td>
                              <td valign="top" align="center">91-94</td>
                              <td valign="top" align="center">36-37</td>
                              <td valign="top" align="center">96-102</td>
                              <td valign="top" align="center">38-40</td>
                              <td valign="top" align="center">104-109</td>
                              <td valign="top" align="center">41-43</td>
                          </tr>
                          <tr>
                              <td scope="row" align="left">Sleeve</td>
                              <td valign="top" align="center">74-75</td>
                              <td valign="top" align="center">29-29.</td>
                              <td valign="top" align="center">76-77</td>
                              <td valign="top" align="center">30-30.5</td>
                              <td valign="top" align="center">79-80</td>
                              <td valign="top" align="center">31-31.5</td>
                              <td valign="top" align="center">81-82</td>
                              <td valign="top" align="center">32-32.5</td>
                              <td valign="top" align="center">84-85</td>
                              <td valign="top" align="center">33-33.5</td>
                          </tr>
                          <tr>
                              <td scope="row" align="left">Waist</td>
                              <td valign="top" align="center">64-66</td>
                              <td valign="top" align="center">25-26</td>
                              <td valign="top" align="center">69-71</td>
                              <td valign="top" align="center">27-28</td>
                              <td valign="top" align="center">74-76</td>
                              <td valign="top" align="center">29-30</td>
                              <td valign="top" align="center">79-84</td>
                              <td valign="top" align="center">31-33</td>
                              <td valign="top" align="center">86-91</td>
                              <td valign="top" align="center">34-36</td>
                          </tr>
                          <tr>
                              <td scope="row" align="left">Hip</td>
                              <td valign="top" align="center">86-89</td>
                              <td valign="top" align="center">34-35</td>
                              <td valign="top" align="center">91-94</td>
                              <td valign="top" align="center">36-37</td>
                              <td valign="top" align="center">96-99</td>
                              <td valign="top" align="center">38-39</td>
                              <td valign="top" align="center">102-107</td>
                              <td valign="top" align="center">40-42</td>
                              <td valign="top" align="center">109-114</td>
                              <td valign="top" align="center">43-45</td>
                          </tr>
                          <tr>
                              <td scope="row" align="left">Inseam</td>
                              <td valign="top" align="center">79</td>
                              <td valign="top" align="center">31</td>
                              <td valign="top" align="center">81</td>
                              <td valign="top" align="center">32</td>
                              <td valign="top" align="center">81</td>
                              <td valign="top" align="center">32</td>
                              <td valign="top" align="center">81</td>
                              <td valign="top" align="center">32</td>
                              <td valign="top" align="center">84</td>
                              <td valign="top" align="center">33</td>
                          </tr>
                    </tbody>
                  </table>
              </div>
            </div>

            <div class="tab-content" id="womens-bottoms">
              <h2>Womens Pants, Bottoms &amp; Skirts</h2>
            
              <div class="table-container">
                  <table class="table doubled-col">
                    <tbody>
                        <tr>
                            <td scope="row" align="left">US*</td>
                              <td colspan="2" valign="top" align="center">2</td>
                              <td colspan="2" valign="top" align="center">4</td>
                              <td colspan="2" valign="top" align="center">6</td>
                              <td colspan="2" valign="top" align="center">8</td>
                              <td colspan="2" valign="top" align="center">10</td>
                              <td colspan="2" valign="top" align="center">12</td>
                              <td colspan="2" valign="top" align="center">14</td>
                              <td colspan="2" valign="top" align="center">16</td>
                        </tr>
                        <tr>
                            <td scope="row" align="left">UK</td>
                              <td colspan="2" valign="top" align="center">6</td>
                              <td colspan="2" valign="top" align="center">8</td>
                              <td colspan="2" valign="top" align="center">10</td>
                              <td colspan="2" valign="top" align="center">12</td>
                              <td colspan="2" valign="top" align="center">14</td>
                              <td colspan="2" valign="top" align="center">16</td>
                              <td colspan="2" valign="top" align="center">18</td>
                              <td colspan="2" valign="top" align="center">20</td>
                        </tr>
                      <tr>
                        <td> </td>
                        <td>cm</td>
                        <td>inches</td>
                        <td>cm</td>
                        <td>inches</td>
                        <td>cm</td>
                        <td>inches</td>
                        <td>cm</td>
                        <td>inches</td>
                        <td>cm</td>
                        <td>inches</td>
                        <td>cm</td>
                        <td>inches</td>
                        <td>cm</td>
                        <td>inches</td>
                        <td>cm</td>
                        <td>inches</td>
                      </tr>
                          <tr>
                              <td scope="row" align="left">Waist</td>
                              <td valign="top" align="center">66</td>
                              <td valign="top" align="center">26</td>
                              <td valign="top" align="center">69</td>
                              <td valign="top" align="center">27</td>
                              <td valign="top" align="center">71</td>
                              <td valign="top" align="center">28</td>
                              <td valign="top" align="center">74</td>
                              <td valign="top" align="center">29</td>
                              <td valign="top" align="center">76</td>
                              <td valign="top" align="center">30</td>
                              <td valign="top" align="center">81</td>
                              <td valign="top" align="center">32</td>
                              <td valign="top" align="center">84</td>
                              <td valign="top" align="center">33</td>
                              <td valign="top" align="center">91</td>
                              <td valign="top" align="center">36</td>
                          </tr>
                          <tr>
                              <td scope="row" align="left">Inseam</td>
                              <td valign="top" align="center">79</td>
                              <td valign="top" align="center">31</td>
                              <td valign="top" align="center">89</td>
                              <td valign="top" align="center">31.5</td>
                              <td valign="top" align="center">81</td>
                              <td valign="top" align="center">32</td>
                              <td valign="top" align="center">81</td>
                              <td valign="top" align="center">32</td>
                              <td valign="top" align="center">81</td>
                              <td valign="top" align="center">32</td>
                              <td valign="top" align="center">81</td>
                              <td valign="top" align="center">32</td>
                              <td valign="top" align="center">82</td>
                              <td valign="top" align="center">32.5</td>
                              <td valign="top" align="center">84</td>
                              <td valign="top" align="center">33</td>
                          </tr>
                    </tbody>
                  </table>
              </div>
            </div>

            <div class="tab-content" id="womens-socks">
              <h2>Womens Socks</h2>
            
              <div class="table-container">
                  <table class="table doubled-col">
                      <thead>
                          <tr>
                              <td>Size</td>
                              <td>US</td>
                              <td>UK</td>
                              <td>EU</td>
                          </tr>
                      </thead>
                    <tbody>
                          <tr>
                              <td align="left" scope="col">S/M fits shoe size</td>
                              <td valign="top" align="center">5 - 9.5</td>
                              <td valign="top" align="center">4 - 7.5</td>
                              <td valign="top" align="center">35 - 39</td>
                          </tr>
                          <tr>
                              <td align="left" scope="row">M/L fits shoe size</td>
                              <td valign="top" align="center">10 - 13</td>
                              <td valign="top" align="center">9 - 11.5</td>
                              <td valign="top" align="center">40 - 45</td>
                          </tr>
                          <tr>
                              <td align="left" scope="row">L/XL fits shoe size</td>
                              <td valign="top" align="center"></td>
                              <td valign="top" align="center">11.5 - 14</td>
                              <td valign="top" align="center">46 - 50</td>
                          </tr>
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- KIDS -->
      <div class="tab-content" id="kids">
        <div class="tab-container">
          <div class="tab-buttons">
            <div class="tab-button active" data-tab="kids-shoes">Boots/Shoes</div>
          </div>
          <div class="tab-contents">
            <div class="tab-content active" id="kids-shoes">
              <h2>Kids Boots &amp; Shoes</h2>
            
              <h3 style="margin-top: 15px">Big Kids (4 - 12 Years)</h3>
              <div class="table-container">
                  <table class="table doubled-col">
                    <tbody>
                          <tr>
                              <td scope="col" align="left">US</td>
                              <td align="center" valign="top" scope="col">10</td>
                              <td align="center" valign="top" scope="col">11</td>
                              <td align="center" valign="top" scope="col">12</td>
                              <td align="center" valign="top" scope="col">13</td>
                              <td align="center" valign="top" scope="col">1</td>
                              <td align="center" valign="top" scope="col">2</td>
                              <td align="center" valign="top" scope="col">3</td>
                              <td align="center" valign="top" scope="col">4</td>
                              <td align="center" valign="top" scope="col">5</td>
                              <td align="center" valign="top" scope="col">6</td>
                              <td align="center" valign="top" scope="col">7</td>
                          </tr>
                          <tr>
                              <td scope="row" align="left">Euro</td>
                              <td align="center" valign="top">27</td>
                              <td align="center" valign="top">28</td>
                              <td align="center" valign="top">30</td>
                              <td align="center" valign="top">31</td>
                              <td align="center" valign="top">32</td>
                              <td align="center" valign="top">33</td>
                              <td align="center" valign="top">34</td>
                              <td align="center" valign="top">35</td>
                              <td align="center" valign="top">36</td>
                              <td align="center" valign="top">37</td>
                              <td align="center" valign="top">38</td>
                          </tr>
                          <tr>
                              <td scope="row" align="left">UK</td>
                              <td align="center" valign="top">9</td>
                              <td align="center" valign="top">10</td>
                              <td align="center" valign="top">11</td>
                              <td align="center" valign="top">12</td>
                              <td align="center" valign="top">13</td>
                              <td align="center" valign="top">1</td>
                              <td align="center" valign="top">2</td>
                              <td align="center" valign="top">3</td>
                              <td align="center" valign="top">4</td>
                              <td align="center" valign="top">5</td>
                              <td align="center" valign="top">6</td>
                          </tr>
                              <tr>
                              <td scope="row" align="left">CM</td>
                              <td align="center" valign="top">16.5</td>
                              <td align="center" valign="top">17.5</td>
                              <td align="center" valign="top">18.5</td>
                              <td align="center" valign="top">19</td>
                              <td align="center" valign="top">20</td>
                              <td align="center" valign="top">21</td>
                              <td align="center" valign="top">22</td>
                              <td align="center" valign="top">22.5</td>
                              <td align="center" valign="top">23.5</td>
                              <td align="center" valign="top">24.5</td>
                              <td align="center" valign="top">25.5</td>
                          </tr>
                    </tbody>
                  </table>
              </div>
            
              <h3 style="margin-top: 15px">Little Kids (12 Months - 4 Years)</h3>
              <div class="table-container">
                  <table class="table doubled-col">
                    <tbody>
                          <tr>
                              <td scope="col" align="left">US</td>
                              <td align="center" valign="top" scope="col">5</td>
                              <td align="center" valign="top" scope="col">5.5</td>
                              <td align="center" valign="top" scope="col">6</td>
                              <td align="center" valign="top" scope="col">6.5</td>
                              <td align="center" valign="top" scope="col">7</td>
                              <td align="center" valign="top" scope="col">7.5</td>
                              <td align="center" valign="top" scope="col">8</td>
                              <td align="center" valign="top" scope="col">8.5</td>
                              <td align="center" valign="top" scope="col">9</td>
                              <td align="center" valign="top" scope="col">9.5</td>
                              <td align="center" valign="top" scope="col">10</td>
                          </tr>
                          <tr>
                              <td scope="row" align="left">CM</td>
                              <td align="center" valign="top">12.4</td>
                              <td align="center" valign="top">12.9</td>
                              <td align="center" valign="top">13.3</td>
                              <td align="center" valign="top">13.7</td>
                              <td align="center" valign="top">14.1</td>
                              <td align="center" valign="top">14.6</td>
                              <td align="center" valign="top">15</td>
                              <td align="center" valign="top">15.4</td>
                              <td align="center" valign="top">15.8</td>
                              <td align="center" valign="top">16.3</td>
                              <td align="center" valign="top">16.7</td>
                          </tr>
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>